@import "scss/index";

.root{
  display: flex;
  margin-top: 60px;
  @media (max-width: 900px) {
    flex-direction: column-reverse;
  }
}

.container{
  width: 73%;
  margin: 0 auto;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 1200px) {
    height: 100%;
  }
  @media (max-width: 900px) {
    width: 100%;
  }
}

.switches{
  display: flex;
  align-items: center;
}

.switchGreen{
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #67FF5A;
  background: rgba(13, 74, 8, 0.3);
  margin-right: 11px;
  cursor: pointer;
}

.switchPink{
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FF00EF;
  background: rgba(105, 10, 99, 0.3);
  cursor: pointer;
}

.title{
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  margin-top: 35px;
}

.desc{
  font-weight: 500;
  font-size: 14px;
  line-height: 175%;
  color: #929496;
  margin-top: 35px;
}

.left{
  @media (max-width: 900px) {
    margin-top: 35px;
  }
}

.image{
  width: 100%;
  background-size: cover;
  @media (max-width: 900px) {
    height: 400px;
  }
}

.controls{
  display: flex;
  align-items: center;
  margin-top: 35px;
  div{
    div{
    &:first-of-type{
      margin-right: 28px;
    }
  }
  }
}