@import "scss/index";

.root{
  display: flex;
  margin-top: 60px;
  @media (max-width: 900px) {
    flex-direction: column-reverse;
  }
}

.container{
  width: 73%;
  margin: 0 auto;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 1200px) {
    height: 100%;
  }
  @media (max-width: 900px) {
    width: 100%;
  }
}

.switches{
  display: flex;
  align-items: center;
  @media (max-width: 900px) {
    justify-content: center;
  }
}

.switchGreen{
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #67FF5A;
  background: rgba(13, 74, 8, 0.3);
  margin-right: 11px;
}

.switchPink{
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FF00EF;
  background: rgba(105, 10, 99, 0.3);
}

.title{
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  margin-top: 35px;
  @media (max-width: 900px) {
    text-align: center;
  }
}

.desc{
  font-weight: 500;
  font-size: 14px;
  line-height: 175%;
  color: #929496;
  margin-top: 35px;
  @media (max-width: 900px) {
    text-align: center;
  }
}

.left{
  @media (max-width: 900px) {
    margin-top: 35px;
  }
}

.image{
  width: 100%;
  display: flex;
  @media (max-width: 900px) {
    justify-content: center;
  }
  img{
    @media (max-width: 1700px) {
      width: 600px;
    }
    @media (max-width: 1280px) {
      width: 500px;
    }
    @media (max-width: 520px) {
      width: 300px;
    }
  }
}

.controls{
  display: flex;
  align-items: center;
  margin-top: 35px;
  @media (max-width: 900px) {
    justify-content: center;
  }
}