@import "scss/index";

.root{
  @media screen and (max-width: 1250px){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
}

.image{
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #0057FF;
}

.large{
  width: 89px;
  height: 89px;
}

.title{
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  margin-top: 10px;
}

.titleAlt{
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}

.desc{
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #B9B9B9;
  margin-top: 10px;
  width: 250px;
  @media screen and (max-width: 1250px){
    text-align: center;
  }
}

.descAlt{
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #B9B9B9;
  margin-top: 10px;
  width: 350px;
  @media screen and (max-width: 1250px){
    text-align: center;
  }
  @media screen and (max-width: 350px){
    width: 250px;
  }
}