@import "scss/index";

.root{
  @media screen and (max-width: 800px){
    padding-bottom: 50px;
  }
}

.container{
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width: 1280px){
    width: 90%;
  }
  @media screen and (max-width: 500px){
    width: 95%;
  }
}

.title{
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  text-align: center;
  @media screen and (max-width: 350px){
    font-size: 38px;
  }
}

.titleHead{
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  text-align: center;
  @media screen and (max-width: 800px){
    font-size: 24px;
  }
}

.content{
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  @media screen and (max-width: 1200px){
    flex-direction: column;
    margin-top: 50px;
  }
}

.item{
  align-items: center;
  .btn{
    align-self: flex-start;
    @media screen and (max-width: 1200px){
      align-self: center;
    }
  }
  .left{
    margin-top: 110px;
    @media screen and (max-width: 1200px){
      margin-top: 0;
    }
    .title{
      text-align: left;
      @media screen and (max-width: 1200px){
        text-align: center;
      }
    }
    .desc{
      align-self: flex-start;
      text-align: start;
      @media screen and (max-width: 1200px){
        text-align: center;
        align-self: center;
      }
    }
  }
  .right{
    margin-top: -50px;
    height: 383px;
    @media screen and (max-width: 1200px){
      margin-top: 0;
    }
    img{
      @media screen and (max-width: 1330px){
        
      }
    }
  }
  @media screen and (max-width: 1200px){
    flex-direction: column;
  }
}

.itemLeft{
  .btn{
    align-self: flex-end;
    @media screen and (max-width: 1200px){
      align-self: center;
    }
  }
  align-items: center;
  .left{
    margin-top: 60px;
    .title{
      text-align: right;
      @media screen and (max-width: 1200px){
        text-align: center;
      }
    }
    .desc{
      align-self: flex-end;
      text-align: end;
      @media screen and (max-width: 1200px){
        text-align: center;
        align-self: center;
      }
    }
  }
  .right{
    img{
      @media screen and (max-width: 1480px){
        
      }
      @media screen and (max-width: 1330px){
        
      }
    }
  }
}

.desc{
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 35px;
  max-width: 250px;
  @media screen and (max-width: 1200px){
    align-self: center;
    text-align: center;
  }
}

.middle{
  font-weight: bold;
  font-size: 76px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin: 0 67px;
  @media screen and (max-width: 1330px){
    margin: 0 30px;
  }
  @media screen and (max-width: 1200px){
    display: none;
  }
}

.left{
  display: flex;
  flex-direction: column;
}

.right{
  @media screen and (max-width: 1200px){
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 400px){
    img{
      width: 300px;
    }
  }
}

.btn{
  @media screen and (max-width: 400px){
    width: 100%;
  }
  button{
    @media screen and (max-width: 400px){
      width: 100%;
    }
  }
}