@import "scss/index";

.root{
  position: relative;
  background-size: contain;
  margin-top: -5px;
  z-index: 2;
}

.container{
  width: 80%;
  margin: 0 auto;
  @media (max-width: 1200px) {
    width: 95%;
}
}