@import "scss/index";

.root{
  background: #24282C;
  padding-top: 50px;
  padding-bottom: 61px;
}

.container{
  width: 80%;
  margin: 0 auto;
  @media (max-width: 1600px) {
    width: 95%;
}
}

.title{
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #fff;
  text-align: center;
  @media (max-width: 600px) {
      font-size: 38px;
  }
  @media (max-width: 450px) {
      font-size: 28px;
  }
}

.titleBottom{
  font-weight: bold;
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin-top: 188px;
  @media (max-width: 600px) {
      font-size: 24px;
      margin-bottom: 23px;
      margin-top: 0;
  }
}

.bottom{
  margin-top: 523px;
  position: relative;
  z-index: 1;
  &:before {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 1250px){
    margin-top: 0;
  }
  @media (max-width: 600px) {
      margin-top: 35px;
  }
}

.btn{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  @media (max-width: 600px) {
    margin-top: 0;
  }
  @media (max-width: 450px) {
    button{
        width: 100%;
        font-size: 16px;
        padding: 25px 50px;
    }
}
}

.clouds2{
  overflow: hidden;
  margin-top: -122px;
  img{
    margin-bottom: -5px;
  }
  @media screen and (max-width: 475px){
      margin-top: -32px;
    img{
      width: 475px;
    }
  }
  @media screen and (max-width: 375px){
    img{
      width: 375px;
    }
  }
  @media screen and (max-width: 320px){
    img{
      width: 320px;
    }
  }
}

.content{
  display: flex;
  justify-content: space-between;
  float: left;
  margin-top: 80px;
  position: relative;
  @media screen and (max-width: 1850px){
    float: none;
  }
  @media screen and (max-width: 1250px){
    flex-direction: column;
  }
  @media (max-width: 600px) {
    margin-top: 20px;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.contentTop{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 160px;
  @media screen and (max-width: 1100px){
    flex-direction: column;
    margin-bottom: 60px;
  }
}

.contentBottom{
  display: flex;
  justify-content: space-between;
  float: right;
  margin-top: 200px;
  @media screen and (max-width: 1850px){
    float: none;
    margin-top: 100px;
  }
  @media screen and (max-width: 1250px){
    margin-top: 40px;
    flex-direction: column;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.line{
  display: flex;
  margin: 0 40px;
  @media screen and (max-width: 1850px){
    margin: 0;
  }
  @media screen and (max-width: 1250px){
    display: none;
  }
}

.img{
  
}

.line2{
  position: absolute;
  left: 10%;
  top: 45%;
  @media screen and (max-width: 1850px){
    display: none;
  }
}