@import "scss/index";

.root{
    padding-top: 118px;
    padding-bottom: 147px;
    background: #24282C;
}

.container{
    width: 90%;
    margin: 0 auto;
  }

.title{
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #fff;
    text-align: center;
}