@import "scss/index";

.root{
    padding-top: 118px;
    padding-bottom: 147px;
    background: #24282C;
}

.container{
    width: 90%;
    margin: 0 auto;
    @media (max-width: 1200px) {
        width: 100%;
        padding: 0 18px;


    }
  }

.title{
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #fff;
    text-align: center;
    @media (max-width: 600px) {
        font-size: 38px;
    }
    @media (max-width: 450px) {
        font-size: 28px;
    }
}

.bottom{
    margin-top: 173px;
    @media (max-width: 600px) {
        margin-top: 35px;
    }
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    @media (max-width: 450px) {
        button{
            font-size: 12px;
            padding: 25px 50px;
        }
    }
}